# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase cache
.firebase/
.firebaserc

# macOS cruft
.DS_Store
